<div class="ext-demo-overview-header-ng" ng-controller="OverviewHeaderController as $ctrl">
  <div class="introduction">
    <h4>Welcome to the omni-channel world</h4>
    <p>The Backbase Mobile SDK allows organisations to build managable omni-channel mobile apps using widgets.</p>
  </div>
</div>