<div class="ext-demo-overview-content-ng" ng-controller="OverviewContentController as $ctrl">
  <div class="feature-container container-fluid">
    <div ng-repeat="feature in $ctrl.features">
      <div class="feature row">
        <div class="col-xs-2">
          <div class="feature-icon" style="background-color: {{ feature.iconColor }}">
            <span class="glyphicon {{ feature.icon }}" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-10">
          <h4>{{ feature.name }}</h4>
          <p>{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>