.ext-demo-changelog-ng .version {
    background-color: #FAFAFA;
    border-bottom: 1px solid #DDD;
    height: 110px;
    padding: 10px 0;
}

.ext-demo-changelog-ng .version .notes {
    margin: 5px 0;
}

.ext-demo-changelog-ng .version .note {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.ext-demo-changelog-ng .version .note .glyphicon {
    color: #666;
    font-size: 10px;
    top: 0;
}

.ext-demo-changelog-ng .version .arrow {
    padding-left: 5px;
    line-height: 90px;
    color: #666;
}