.ext-demo-welcome-ng .subtitle {
    font-weight: 100;
}

.ext-demo-welcome-ng .title {
    margin-top: -10px;
    font-weight: 400;
}

.ext-demo-welcome-ng .logo {
    margin-top: 20%;
}

.ext-demo-welcome-ng .get-started {
    margin-top: 20px;
    padding: 10px 50px;
}