.ext-demo-overview-header-ng .introduction {
	color: #FFF;
	padding: 50px 10px;
	text-align: center;
	background-image: url('/android_asset/backbase/static/features/[BBHOST]/ext-demo-overview-header-ng/media/header.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.ext-demo-overview-header-ng .introduction h4 {
	margin-top: 0px;
}

.ext-demo-overview-header-ng .introduction p {
	margin-bottom: 0px;
}