.ext-demo-overview-content-ng .feature-container {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ext-demo-overview-content-ng .feature {
	background-color: #FFF;
	border: 1px solid #DDD;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.ext-demo-overview-content-ng .feature-icon {
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	color: #FFF;
	font-size: 18px;
	margin-top: 10px;
	padding-top: 1px;
}
