<div class="ext-demo-welcome-ng" ng-controller="WelcomeController as $ctrl">
  <div class="welcome text-center">
    <img src="static/features/[BBHOST]/ext-demo-welcome-ng/media/logo.png" class="logo" heigth="104" width="69" alt="Logo" />
    <h2 class="subtitle">Welcome to the</h2>
    <h1 class="title">Backbase<br/> Mobile SDK</h1>
    <button ng-click="$ctrl.getStarted()" class="btn btn-success get-started">Get started</button>
  </div>
</div>